
@import "tailwindcss";

/* Optional: nicer body text */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Playfair+Display:wght@500;600;700;800&family=Inter:wght@300;400;500;600&display=swap');
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
